recursive-include imio_townstreet *
recursive-include imio_townstreet/category *
recursive-include imio_townstreet/agenda *
recursive-include imio_townstreet/forms *
recursive-include imio_townstreet/workflows *
include MANIFEST.in
include VERSION
include README

