recursive-include imio_town_street *
recursive-include imio_town_street/category *
recursive-include imio_town_street/agenda *
recursive-include imio_town_street/forms *
recursive-include imio_town_street/workflows *
include MANIFEST.in
include VERSION
include README

